streamlit
wandb
pandas
matplotlib
openai
antlr4-python3-runtime==4.9.3
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1749686179973/work
Brotli @ file:///D:/bld/brotli-split_1749229870877/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1752493286596/work/certifi
cffi @ file:///D:/bld/cffi_1725560655177/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
conda @ file:///D:/bld/conda_1744220045493/work/conda-src
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1742219570693/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1751548120229/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
filelock==3.19.1
frozendict @ file:///D:/bld/frozendict_1728841449408/work
fsspec==2025.9.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hydra-core==1.3.2
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
iopath==0.1.10
Jinja2==3.1.6
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///D:/bld/jsonpointer_1725303007361/work
libmambapy @ file:///D:/bld/mamba-split_1746515841174/work/libmambapy
MarkupSafe==3.0.2
menuinst @ file:///D:/bld/menuinst_1753546261559/work
mpmath==1.3.0
networkx==3.5
numpy==2.3.3
omegaconf==2.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pillow==11.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1747339660894/work
portalocker==3.2.0
pycosat @ file:///D:/bld/pycosat_1732588446214/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pywin32==311
PyYAML==6.0.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
ruamel.yaml @ file:///D:/bld/ruamel.yaml_1749479940538/work
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1728724639208/work
-e git+https://github.com/facebookresearch/sam2.git@2b90b9f5ceec907a1c18123530e92e794ad901a4#egg=SAM_2
setuptools==80.9.0
sympy==1.14.0
torch==2.8.0
torchvision==0.23.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_truststore_1739009763/work
typing_extensions==4.15.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
wheel==0.45.1
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
xacro==2.1.1
zstandard==0.23.0
